* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #F8F9FA;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70vh 27vh 3vh;
    align-items: center;
    justify-items: center;
}

.game-container {
    width: 50%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    align-items: center;
    text-align: center;
}

.game-item {
    line-height: 200px;
    height: 100%;
    font-size: 4rem;
    color: darkgray;
    background-color: #ffffff;
    box-shadow: 0px 5px 30px rgba(141, 139, 139, 0.25);
    font-weight: bold;
    cursor: pointer;
    transition: 480ms all;
}

.game-item:nth-child(1),
.game-item:nth-child(2),
.game-item:nth-child(4),
.game-item:nth-child(5) {
    border-right: 3px solid #212529;
    border-bottom: 3px solid #212529;
}

.game-item:nth-child(3),
.game-item:nth-child(6) {
    border-bottom: 3px solid #212529;
}

.game-item:nth-child(7),
.game-item:nth-child(8) {
    border-right: 3px solid #212529;
}

.game-item:hover {
    background-color: snow;
    color: black;
}

.game-item[data-player="1"] {
    color: #ff0000;
}

.game-item[data-player="2"] {
    color: #0000ff;
}

.selected {
    color: black;
    cursor: not-allowed;
}

.winner-h, .winner-v, .winner-d-1, .winner-d-2 {
    position: relative;
}

.winner-h::before {
    position: absolute;
    content: "";
    top: 50%;
    left: -100%;
    width: calc(300% + 9px);
    height: 5px;
    background-color: red;
}

.winner-v::before {
    position: absolute;
    content: "";
    top: 0%;
    left: 50%;
    width: 5px;
    height: calc(300% + 9px);
    background-color: red;
}

.winner-d-1::before {
    position: absolute;
    content: "";
    top: -100%;
    left: 150%;
    width: 5px;
    height: 500%;
    transform: rotate(-59deg);
    background-color: red;
}

.winner-d-2::before {
    position: absolute;
    content: "";
    top: -100%;
    left: -50%;
    width: 5px;
    height: 500%;
    transform: rotate(59deg);
    background-color: red;
}

.actions-items {
    width: 100%;
    color: #212529;
    text-align: center;
}

.points {
    display: flex;
    justify-content: space-around;
    color: #212529;
    font-weight: bold;
    font-size: 2rem;
}

#winner {
    display: inline-block;
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 2rem;
}

.btn {
    padding: 10px 20px;
    outline: none;
    border-style: solid;
    cursor: pointer;
}

.btn-clear {
    border-color: #0000ff;
    color: #0000ff;
}

.btn-reset {
    border-color: #ff0000;
    color: #ff0000;
}

footer {
    color: #cccccc;
}