* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100wh;
    height: 100vh;
    background-color: #F8F9FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-container {
    width: 30%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    text-align: center;
}

.game-item {
    padding: 3rem;
    font-size: 2rem;
    color: darkgray;
    background-color: #ffffff;
    box-shadow: 0px 5px 30px rgba(141, 139, 139, 0.25);
    font-weight: bold;
    cursor: pointer;
    transition: 480ms all;
}

.game-item:nth-child(1),
.game-item:nth-child(2),
.game-item:nth-child(4),
.game-item:nth-child(5) {
    border-right: 3px solid #212529;
    border-bottom: 3px solid #212529;
}

.game-item:nth-child(3),
.game-item:nth-child(6) {
    border-bottom: 3px solid #212529;
}

.game-item:nth-child(7),
.game-item:nth-child(8) {
    border-right: 3px solid #212529;
}

.game-item:hover {
    background-color: snow;
    color: black;
}

.selected {
    color: black;
    cursor: not-allowed;
}

.winner {
    background-color: crimson;
    color: #ffffff;
}

.winner:hover {
    color: #ffffff;
    background-color: crimson;
}

.actions-items {
    margin-top: 5rem;
    color: #212529;
}